.one{
  text-align:center;
  font-size:30px;
}
strong{
  text-align:left 
}
#quote{
  font-style:italic;
  margin-left:50px
}
img{
  display:block;
}
#image{
  margin:auto;
  max-width:100%;
  height:auto;
}

